# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
*.venv
.envrc

# ----------------------------
# Django
# ----------------------------
media/
staticfiles/
db.sqlite3

# Secrets
**/.env
**/*.pem
**/*.key
**/id_rsa*
**/secrets.yml

# ----------------------------
# Environment variables
# ----------------------------
# Environment variables
.env
.env.*
env.*
*.env

# ----------------------------
# Node / React / Vite
# ----------------------------
node_modules/
dist/
.vite/

# ----------------------------
# Docker
# ----------------------------
*.log
*.pid
*.sock
*.db
*.tar

# ----------------------------
# Terraform
# ----------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Ansible
ansible/*.retry
ansible/inventory/*.cache
ansible/inventory/*.json
vault.yml
vault.yaml

# ----------------------------
# Editors & OS
# ----------------------------
.vscode/
.DS_Store
.idea/